html, body {margin: 0; height: 100%; overflow: hidden}

  .center {
    position: absolute;
    top: 40%;
    width: 97%;
    text-align: center;
    font-size: 18px;
  }
  
.button {
    background-color: transparent;
    border: none;
    padding: 30px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0px;
    margin: 4px 2px;
    cursor: pointer;
}

body{
    background-image: url("restart.png") ; 
    background-size:95%;
    
    
}
